<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav><a href="/trails">Go Back</a> | <a href="/trails/new">Add New Trail</a></nav>
    <h1>This is the trailblazer index page</h1>
    <ul>
        <% for(let i = 0; i < trails.length; i++) {
          
        %>
          <li>
            <a href="/trails/<%= trails[i].id %>"> <%= trails[i].name %> </a>
            </form>
           </li>
        <% } %>
      </ul>
</body>
</html>