<%- include('./partials/header.ejs') %>
    <h1>This is the trailblazer index page</h1>
    <ul>
        <% for(let i = 0; i < trails.length; i++) {
          
        %>
          <li>
            <a href="/trails/<%= trails[i].id %>"> <%= trails[i].name %> </a>
            </form>
           </li>
        <% } %>
      </ul>
</body>
</html>