<%- include('./partials/header.ejs') %>
    <h1>Add a new trail below</h1>
    <form class="ui form new-form" action="/trails" method="POST">
        <div class="fields new-fields">
            <div class="twelve wide field">
                <label for="name">Name:</label>
                <input id="name" type="text" name="name" placeholder="Enter trail name">
            </div>
            <div class="twelve wide field">
                <label for="img">Image:</label>
                <input id="img" type="text" name="img" placeholder="Enter image URL">
            </div>
            <div class="twelve wide field">
                <label for="location">Location:</label>
                <input id="location" type="text" name="location" placeholder="Enter the trail's address">
            </div>
            <div class="twelve wide field">
                <label for="distance">Distance:</label>
                <input id="distance" type="text" name="distance" placeholder="Enter the distance in miles">
            </div>
            <div class="field new-submit">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>
</body>
</html>