<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav><a href="/trails">Go Back</a> | <a href="/trails/new">Add New Trail</a></nav>
    <h1>This is the trailblazer new page</h1>
    <form action="/trails" method="POST">
        <label for="name">Name:</label>
        <input id="name" type="text" name="name" placeholder="Enter trail name">
        <label for="img">Image:</label>
        <input id="img" type="text" name="img" placeholder="Enter image URL">
        <label for="location">Location:</label>
        <input id="location" type="text" name="location" placeholder="Enter the trail's address">
        <label for="distance">Distance:</label>
        <input id="distance" type="text" name="distance" placeholder="Enter the distance in miles">
        <input type="submit" value="Submit">
    </form>
</body>
</html>