body {
    background: purple;
}

.new-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 25%;
    border: solid black 1px ;
}

.new-submit {
    padding-top: 10px;
}