body {
    overflow:auto !important;
    background-attachment: fixed !important;
    background: url('./gradienta-7EnMpaDE8bo-unsplash.jpg') no-repeat !important;
    background-size: cover !important;
    height: 100vh !important;
    color: rgb(4, 27, 21) !important;
}

.nav-bar{
    background:white !important;
    font-size: 20px !important;
}

.nav-bar>a:hover {
    color: rgb(199, 217, 183) !important;
}

/* === INDEX PAGE STYLING === */
.index-list{
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.ui.cards {
   justify-content: center;
}

.card-img {
    height: 200px !important;
}


.extra>a {
    color: rgb(4, 27, 21) !important;
}

.extra>a:hover {
    font-size: larger !important;
    color: rgb(101, 113, 83) !important;
}

/* === SHOW PAGE STYLING === */
.show-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center;
}

/* .show-div{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: seashell;
    width: 70%;
} */

.show-img {
    /* height: 30%; */
    border-radius: 1%;
    width: 100%;
}

.edit-delete {
    display: flex;
    justify-content: space-between;
}

.pencil-btn {
   justify-content: flex-end;
}

.delete-btn {
    border: none;
    background-color:  white;
    height: 50px;
}

.pencil-btn, .go-back {
    color: rgb(174, 211, 144);
}

.trashcan {
    height: 10px;
   color: white;
}

.trashcan:hover {
    color: seashell;
}

.pencil-btn:hover, .go-back:hover {
    color: grey;
    cursor: pointer;
}


/* ==== NEW & EDIT PAGE STYLING === */
.body-div {
    background: url('./maksim-shutov-H8vhhepiiaU-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    
}

.form-container {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    padding-top: 2% !important;
    margin-top: 5% !important;
}

label {
    padding-top: 5px;
}

.new-form {
    padding: 10px;
    /* border: solid black 1px ; */
    /* border-radius: ; */
}

.new-fields {
    justify-content: center;
    flex-wrap: wrap;
}

.submit-btn {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    border: none;
}

