body {
    background: rgb(199, 217, 183)!important;
    /* background-repeat: no-repeat !important;
    background-size: cover !important; */
    color: rgb(4, 27, 21) !important;
}

.nav-bar{
    background:rgb(101, 113, 83) !important;
    font-size: 20px !important;
}

.nav-bar>a:hover {
    color: rgb(199, 217, 183) !important;
}

/* === INDEX PAGE STYLING === */

li {
    list-style: none;
}

.ui.cards {
   justify-content: center;
}

.card-img {
    height: 200px !important;
}


.extra>a {
    color: rgb(4, 27, 21) !important;
}

.extra>a:hover {
    font-size: larger !important;
    color: rgb(101, 113, 83) !important;
}

/* === SHOW PAGE STYLING === */
.show-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .show-div{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: seashell;
    width: 70%;
} */

.show-img {
    height: 400px;
}

.edit-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn {
    border: none;
    background-color:  white;
    height: 50px;
}

.pencil {
    color: rgb(50, 22, 31);
}

.trashcan {
    color: white;
}

.trashcan:hover, .pencil:hover {
    color: grey;
    cursor: pointer;
}


/* ==== NEW & EDIT PAGE STYLING === */
.body-div {
    background: url('./maksim-shutov-H8vhhepiiaU-unsplash.jpg') no-repeat center;
    background-size: cover;
    height: 100%;
    
}

.form-container {
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
}

label {
    padding-top: 5px;
}

.new-form {
    padding: 10px;
    /* border: solid black 1px ; */
    /* border-radius: ; */
}

.new-fields {
    justify-content: center;
    flex-wrap: wrap;
}

.submit-btn {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    border: none;
}

